@page "/base"
@inherits BasePage

<PageTitle>Home 2</PageTitle>

<MudContainer MinHeight="130px" Width="100%" Class="d-flex justify-space-between" >
    <MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex align-center">
        <MudContainer Class="d-inline">
            <MudText Typo="Typo.h4" Class="px-4">Título teste</MudText>
            <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Descrição das ações disponíveis na página</MudText>
        </MudContainer>
     </MudContainer>

    <MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex align-center justify-end gap-4">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Style="padding:10px 40px;
                                                                                text-align: center;
                                                                                display: inline-block;
                                                                                cursor: pointer;
                                                                                border-radius: 8px; width:150px;">Cancelar</MudButton>
        <MudButton Variant="Variant.Filled" Style="  background-color: #15599c;
                                                                      border: none;
                                                                      color: white;
                                                                      padding:10px 40px;
                                                                      text-align: center;
                                                                      text-decoration: none;
                                                                      display: inline-block;
                                                                      cursor: pointer;
                                                                      border-radius: 8px; width:150px;">Salvar</MudButton>
      </MudContainer>
</MudContainer>
<br>
<MudPaper MinHeight="650px" Width="100%" Class="py-12 px-6">
    <MudContainer Class="d-flex" Fixed="true" Style="border: 2px solid red; height: 130px" >
        <MudContainer Style="width=45%; border: 2px solid yellow;">
            <MudText Typo="Typo.h6"> <b>Leonardo Santos</b></MudText>
            <MudText Typo="Typo.body2">Matrícula: 300173634</MudText>
            <MudText Typo="Typo.body2">Cargo: Gerente de Projetos</MudText>
            <MudText Typo="Typo.body2">Coordenadoria Administrativa Financeira</MudText>
        </MudContainer>
        <MudContainer Style="width=45%; border: 2px solid purple;">
            <MudText Typo="Typo.h6" Class="d-flex justify-end"> <b> 777 Pontos</b></MudText>
            <MudStack>
                     <MudDateRangePicker T="DateTime"
                            @bind-Value="dateRange"
                            Label="Período"
                            StartText="Start Date"
                            EndText="End Date"
                            MaxDate="today"
                            OnClose="OnDateRangeChanged" />
            </MudStack>
        </MudContainer>
    </MudContainer>
    <MudContainer Fixed="true" Style="border: 2px solid green; height: 350px">
        <MudSimpleTable Style="overflow-x: auto;">
            <thead>
                <tr>
                    @foreach (var h in headings)
                    {
                        <th>@h</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in rows)
                {
                    <tr>
                        @foreach (var x in row.Split())
                        {
                            <td>@x</td>
                        }
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </MudContainer>
</MudPaper>

